
# Build Artifacts
fingerprint01/dist/
fingerprint01/build/
fingerprint01/Output/

# Security
fingerprint01/serviceAccountKey.json

# PyInstaller Specifics
fingerprint01/ChronoFingerprint.spec

# Backend Build & Logs
backend/target/
*.log
compile_*.txt
build_*.txt
run_*.log
